bcl/build/linux64_release/bin/*.exe filter=lfs diff=lfs merge=lfs -text
bcl/rotamer_library/atom_environments/* filter=lfs diff=lfs merge=lfs -text
bcl/rotamer_library/atom_environments/chembl* filter=lfs diff=lfs merge=lfs -text
